body {
    margin: 0px auto; 
    text-align: center;
    color: #999;
}

#board canvas {
    border: 1px solid #333;
    background-color: #f4a460;
    -webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,1);
    box-shadow: 0px 0px 24px 0px rgba(0,0,0,1);
    border-radius: 10px;
}

input[type='button']{
    width: 125px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 8px 0 10px;
    color: #fff;
    background-color: #49a9eb;
    border-radius: 5px;
    box-shadow: 2px 2px #1a6ea0;
    text-shadow: 0 -1px #1a6ea0;
    float: left;
    margin: 5px;
    left: 10%;
    position: relative;
  }
input[type='button']:hover{
    background-color: #59b1eb;
}

/* html,body,#main {
    height:90%;
} */